####################################################################################
# This is configuration file for FriendlyMakeGenerator (fmakegen). This file is    #
# loaded by libconfig. Manual with explanation on how format works in following    #
# URL:                                                                             #
# https://hyperrealm.github.io/libconfig/libconfig_manual.html#Configuration-Files #
####################################################################################

# Release number of configuration file. This number is to indicate change
# in variable names or content so additions are not indicated by it.
# DO NOT CHANGE IT IF YOU ARE USING PACKAGED CONFIG FILE!
release=0
# Default makefile name if makefile name was not given.
default_makefile_name="Makefile"
# Default configure script name if configure script name was not given.
default_configure_script_name="configure"
# This is the path to default makefile configure template. This
# is used when option does not specify the template or when
# makefile does not give it.
default_makefile_template="default.maketemp"
